/**
 * Resturn:
 * 		body {color: #3D3D3D;
 * 			  background-color: #6D6D6D;}
 *
 * 		p {color: #3D3D3D; }
 * 		h2 {background-color: #6D6D6D; }
 */
$color:#3D3D3D;
$bgcolor:#6D6D6D;
body{
	color:$color;
	background-color: $bgcolor;
}
h2{
	background-color: $bgcolor;
}